@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><center>Want to register click <a asp-area="" asp-page="/Register"><b><u>Register</u></b></a></center></p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web app s with ASP.NET Core</a>.?</p>
</div>
